# Desativa a listagem de diretórios
Options -Indexes

# Habilita o mecanismo de reescrita
RewriteEngine On

# Define a base para reescritas de URL
RewriteBase /

# Verifica se a solicitação está dentro do diretório raiz ou das subpastas do projeto
RewriteCond %{REQUEST_URI} !^/
RewriteRule ^ - [R=404,L]

# Verifica se a solicitação é para um arquivo ou diretório existente
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l

# Redireciona todas as outras solicitações para index.php com a URL solicitada como parâmetro
RewriteRule ^(.*)$ index.php/$1 [L]
